@use "./variables";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "profile ilustration";
}
.home__grid-collumn--1,
.home__grid-collumn--2 {
  min-height: 700px;
  padding: 0 14rem;
}

.home__grid-collumn--1 {
  grid-area: profile;
  background: url("/src/assets/img/bg.svg") no-repeat center variables.$g-1;
}

.home__grid-collumn--2 {
  grid-area: ilustration;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
